<div class="container">
	<h1>Nueva persona</h1>

	<form action="/persona/c" method="POST">
	
		<label for="idLogin">Login </label>
		<input id="idLogin" type="text" name="login" autofocus="autofocus" required="required"/>
		<br />
		
		<label for="idNombre">Nombre </label>
		<input id="idNombre" type="text" name="nombre"/>
		<br />
		
		<label for="idApellido">Apellidos </label>
		<input id="idApellido" type="text" name="apellido"/>
		<br />




		<br />
		
		
		
		<input type="submit" value="Nueva persona" />
	</form>
	<br />
</div>